.fs-1 {
  font-size: 24px;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color:  green;
}
.bg-black{
  background-color: black;
}
.bg-gray{
  background-color: gray;
}
